/*MOBILE
#A5A5AF
#015249
#77C9D4
#57BC90
*/
.mobile-container {
  height: 100%;
  width: 100%;
  margin: auto;
  /*background-color: #57BC90;*/
  /*background-image: url("../IMG_1063.jpg");*/
  background-size: 100%;
  color: white;
  border-radius: 10px;
  padding: 0;
}

.topnav {
  overflow: hidden;
  background-color: #A5A5AF;
  position: relative;
  z-index: 1000;
  width:100%;
}

.topnav #myLinks {
  display: none;
  z-index: 1000;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  color: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a.icon:hover {
  background-color: #77C9D4;
}

.topnav a:hover {
  background-color: #77C9D4;
  color: white;
}

.active {
  background-color: #A5A5AF;
  color: white;
}

.parallax {
  /* The image used */
  /*background-image: url("https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/34049794_605816629784687_7384822942619664384_o.jpg?_nc_cat=0&oh=9e341ba66fb4ad8b4d9ee39b3bd7d26d&oe=5BF5C47B");*/
  /* Full height */
  height: 100%
  /* Create the parallax scrolling effect */
  background-attachmentbod: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.mainpop {
  background-color: rgba(0, 0, 0, .3);
  width: 60%;
  left: 20%;
  padding:;
  position: absolute;
  top: 30%;
  margin: auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 15px;
  line-height: 1.5;
  z-index: 4;
  transition: 1s;
}

#index {
  background-image: url("../IMG_1072.jpg");
  background-position: 25% 0%;
  background-size: 100%;
  background-repeat: no-repeat;
}
#mainpopbtn {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 34%;
    width: 32%;
    height: 30px;
    background-color: white;
    text-align: center;
    background-color: #77C9D4;
    color: white;
    font-size: 15px;
    line-height: 1.5;
    z-index: 0;
    display: block;
    vertical-align: middle;
    transition: 0.5s;
  }

  #mainpopbtn a {
    text-decoration: none;
    color: white;
  }

  #mainpopbtn:hover {
    background-color: #57BC90;
  }
    .bodyheader {
    margin-top: 0px;
    position: relative;
    z-index: -1;
    width: 100%;
    background-position: center;
  }
.bodyheader table {
    width: inherit;
    text-align: left;
    padding-left: 2 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    table-layout: fixed;
  }
    .bodytext {
    padding: 20px;
    /*height:1000px;*/
    background-color: white;
    font-size: 15px;
    z-index: 1;
    color:black;
  }

  .bodytext a {
    text-decoration: none;
    color: #77C9D4;
  }

  .bodytext a:hover {
    color: #57BC90;
  }

  .bodytext td {
    width: 30%;
    padding: 5%;
  }

  .bodytext img {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: center;
  }
#index {
  background-image: url("../IMG_1063.jpg");
}
#about {
  /*background-image: url("../IMG_1047.jpg");*/
}